# Auto detect text files and perform LF normalization
* text=auto
# Label Studio SQLite DB - mark binary so git doesn't try to diff/normalize.
*.sqlite3 binary
*.sqlite3-journal binary
*.sqlite3-wal binary
*.sqlite3-shm binary
chat.json filter=lfs diff=lfs merge=lfs -text
